#footer{
    background-color: #a353ee;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content:space-evenly ;
}
#footerTxt{
    margin: 0.5rem;
    display: flex;
    font-size: 2.5rem;
    text-align: center;
}