.container-tasks {
    width: 75vw;
    height: max-content;
    border-radius: 10px;
    background-color: var(--task-color);
    box-shadow: 0 0 10px #fff;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;  
}