#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

.TasksContainer{
  border-radius: 5rem 5rem 5rem 5rem;
  display: flex;
  padding-bottom: 4rem;
  margin: 1rem 0 1rem 4rem;
  background-color: #25005e;
  align-self: center;
  width: 90%;
}